.dark-primary {
  background: rgb(0, 0, 0);
  background-color: #000000;
  color: black;
}
.dark-secondary {
  background: #1a1a1a;
}
/* 
span {
  color: white;
}

label {
  color: white;
} */

/* span.ant-menu-title-content {
  color: rgb(231, 231, 231)
} */

li.ant-menu-item {
  background-color: black;
}

li.ant-menu-submenu {
  background-color: black;
}


/* li.ant-menu-item:focus {
  background-color: grey;
} */

p {
  color: white
}

li {
  color: #ffffff
}

.glowing-text {

  font-size: 18px; /* Adjust the size as needed */
  color: #fff; /* You can change the text color if needed */
  /* animation: glow 2s ease infinite li; */

  animation: glow 20s linear infinite;
  /* opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px; */
}

.gradient-container {
  background: linear-gradient(to left, rgb(135, 153, 126), black 70%); /* Initial gradient */
  animation: gradientAnimation 2s infinite alternate;
  transition: opacity .3s ease-in-out;
}

/* Define the keyframes for animation */
@keyframes gradientAnimation {
  from {
      background: linear-gradient(to left, rgb(175, 175, 175), black 70%);
  }
  to {
      background: linear-gradient(to left, rgb(135, 153, 126), black 70%); /* Final gradient */
  }
}


@keyframes glow {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}