.dark-primary {
  background: rgb(0, 0, 0);
  background-color: #000000;
  color: black;
}
.dark-secondary {
  background: #1a1a1a;
}
/* 
span {
  color: white;
}

label {
  color: white;
} */

/* span.ant-menu-title-content {
  color: rgb(231, 231, 231)
} */

li.ant-menu-item {
  background-color: black;
}

li.ant-menu-submenu {
  background-color: black;
}


/* li.ant-menu-item:focus {
  background-color: grey;
} */

p {
  color: white
}

li {
  color: white
}

